extends layout

block content
  h1= title
  p Here's the pup
  div.flexBoxColumn
    div.flexBoxRow
      p Name
      p Breed
      p Age
      p Sex
    div.flexBoxRow
      p= puppy.name
      p= puppy.breed
      p= puppy.age
      p= puppy.sex
